// Colors
$page_background_color: #fff;
$preview_background_color: #FF6A76;

$card_background_color: #D6ECFF;
$button_background_color: #0054FF;

$footer_author_background_color: #afadad;
$footer_background_color: #808080;